/*----- GLOBAL VARIABLES -----*/
/*----- Custom Mixins -----*/
/*--- link vars ---*/
/*-----text vars-----*/
/*----------------------------------------------------------------------------->*/
body {
  margin: 0;
  padding: 0;
  overflow: auto;
  line-height: 1.61803;
  font-family: "Quattrocento", Roboto, sans-serif;
  font-size: 16px; }
  @media only screen and (min-width: 767px) {
    body {
      font-size: 18px; } }
  @media only screen and (min-width: 1200px) {
    body {
      font-size: 20px; } }
  @media only screen and (min-width: 1700px) {
    body {
      font-size: 24px; } }
  @media only screen and (min-width: 2000px) {
    body {
      font-size: 28px; } }

/*preloads images so hover transitions are smooth*/
body::after {
  display: none;
  content: url("https://source.unsplash.com/1600x900/?nature,animals") url("https://source.unsplash.com/1600x900/?nature,weather") url("https://source.unsplash.com/1600x900/?nature,houses") url("https://source.unsplash.com/1600x900/?nature,flowers") url("../res/img/city_testsample_1.jpg") url("../res/img/city_testsample_2.jpg") url("../res/img/city_testsample_3.jpg") url("../res/img/city_testsample_4.jpg") url("../res/img/city_testsample_5.jpg") url("../res/img/comp_dirty.jpg") url("../res/img/dent_chair_black_side.jpg") url("../res/img/dent_chair_red_flat.jpg") url("../res/img/dent_chair_white_close_behind.jpg") url("../res/img/dent_chair_white_low.jpg") url("../res/img/dent_chair_brown_overhead.jpg") url("../res/img/dent_chairside_light.jpg") url("../res/img/dent_chairside_tools.jpg") url("../res/img/dent_jump_chair.jpg") url("../res/img/dent_jump_comp.jpg") url("../res/img/dent_practice_mouth.jpg") url("../res/img/dent_toothbrush_cup.jpg") url("../res/img/dent_toothbrush_paste.jpg") url("../res/img/machine_colorfulPrint.jpg") url("../res/img/machine_drill_bits.jpg"); }

a {
  color: #F3ECC8;
  text-decoration: none;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0); }

body.hasHover a:hover {
  color: #F73859;
  text-decoration: none;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

.row {
  margin-bottom: 0; }

p {
  margin-top: 0.9rem; }

.hideme {
  opacity: 1; }

.sect-header {
  background: #283149;
  color: #F3ECC8;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Amiri", sans-serif; }
  .sect-header > * {
    margin-bottom: 0;
    margin-left: 30px; }

.text-content {
  text-indent: 3rem; }

/* Carousel css */
.carousel {
  -webkit-animation: fadein 1.5s;
  -moz-animation: fadein 1.5s;
  -o-animation: fadein 1.5s;
  -ms-animation: fadein 1.5s;
  animation: fadein 1.5s; }

@-webkit-keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-ms-keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.carousel-item {
  max-height: 100vh;
  min-height: 384px; }

/*controls background images of the slides*/
.carousel-item-bk_1 {
  background-image: url("https://source.unsplash.com/1600x900/?nature,animals"); }

.carousel-item-bk_2 {
  background-image: url("https://source.unsplash.com/1600x900/?nature,weather"); }

.carousel-item-bk_3 {
  background-image: url("https://source.unsplash.com/1600x900/?houses"); }

.carousel-item-bk_4 {
  background-image: url("https://source.unsplash.com/1600x900/?nature,flowers"); }

/*global attributes of the slides*/
.carousel-item-bk_1, .carousel-item-bk_2, .carousel-item-bk_3, .carousel-item-bk_4 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  min-width: 100vw;
  height: 100vh;
  min-height: 384px;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s; }

body.hasHover .carousel-item:hover > a > .carousel-item-bk_1,
body.hasHover .carousel-item:hover > a > .carousel-item-bk_2,
body.hasHover .carousel-item:hover > a > .carousel-item-bk_3,
body.hasHover .carousel-item:hover > a > .carousel-item-bk_4 {
  -webkit-filter: blur(2px);
  filter: blur(2px);
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01); }

.carousel-caption {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  bottom: initial;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background-color: rgba(40, 49, 73, 0.8);
  max-width: 50vw;
  margin: 0 auto;
  margin-bottom: 25%; }
  .carousel-caption h1 {
    font-size: 2.4rem;
    font-family: "Amiri"; }
  .carousel-caption p {
    font-size: 1.8rem;
    font-family: "Quattrocento"; }

/* hides description tagline for small devices. */
@media only screen and (max-width: 767px) {
  .carousel-caption {
    padding: 10px 0px; }
    .carousel-caption p {
      display: none; } }

/*changes to rounded diamond shape with spacing.*/
.carousel-indicators li {
  height: 12px;
  width: 12px;
  margin-left: 20px;
  margin-right: 20px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

/*@mixin navbarScaleShrink($scalar) {
  .navbar-shrink {
    padding-top: $navbar_shrink_scalar*$navbar_padding_vert;
    padding-bottom: $navbar_shrink_scalar*$navbar_padding_vert;
    font-size: $navbar_shrink_scalar * $main_fsize * $scalar;
    a {
      padding:0;
      img{
        max-height: $navbar_img_shrink_scalar * $navbar_scalar *$navbar_shrink_scalar * $main_fsize * $scalar;
      }
    }
  }
}
*/
@media only screen and (min-width: 0px) {
  .navbar a {
    font-family: "Amiri", sans-serif;
    padding: 0; }
    .navbar a img {
      max-height: 26.4px; } }

@media only screen and (min-width: 768px) {
  .navbar a {
    font-family: "Amiri", sans-serif;
    padding: 0; }
    .navbar a img {
      max-height: 29.7px; } }

@media only screen and (min-width: 1400px) {
  .navbar a {
    font-family: "Amiri", sans-serif;
    padding: 0; }
    .navbar a img {
      max-height: 33px; } }

@media only screen and (min-width: 1700px) {
  .navbar a {
    font-family: "Amiri", sans-serif;
    padding: 0; }
    .navbar a img {
      max-height: 39.6px; } }

@media only screen and (min-width: 2000px) {
  .navbar a {
    font-family: "Amiri", sans-serif;
    padding: 0; }
    .navbar a img {
      max-height: 46.2px; } }

/*
@mixin animateALLease($timeofTrans){
  -webkit-animation: all $timeofTrans ease;
  -moz-animation: all $timeofTrans ease;
  -o-animation: all $timeofTrans ease;
  animation: all $timeofTrans ease;
} */
.navbar {
  position: fixed;
  width: 100vw;
  background: rgba(40, 49, 73, 0.25);
  padding: 20px 30px;
  z-index: 16;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; }

.navbar-opaque {
  background-color: #283149;
  padding-top: 10px;
  padding-bottom: 10px; }

.navbar-brand {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0; }

.nav-img-logo {
  margin: 0 auto;
  padding: 0;
  border: none;
  max-height: 30px; }

.navbar-collapse {
  margin-right: 5px; }

.navbar-toggler {
  border-color: rgba(40, 49, 73, 0.8); }

.nav-item a:hover {
  color: #F3ECC8;
  text-decoration: none;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0); }

body.hasHover .nav-item a:hover {
  color: #F73859;
  text-decoration: none;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s; }

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(247, 56, 89, .25)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  -webkit-transition: background-image 0.6s ease;
  -o-transition: background-image 0.6s ease;
  transition: background-image 0.6s ease;
  display: none; }

.navbar-toggler-icon-opaque {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(247, 56, 89, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }

/*floatingMission section ------------------------------------------------------------------------*/
.floatbox-mission {
  padding: 100px;
  background: url("../res/bk/bk_test_gif_animated_walking.gif") fixed no-repeat center;
  background-size: cover;
  -webkit-animation: slow-tran-cycle 5s infinite linear alternate;
  animation: slow-tran-cycle 5s infinite linear alternate; }

@-webkit-keyframes slow-tran-cycle {
  0% {
    translateY: -10px; }
  100% {
    translateY: 10px; } }

@-moz-keyframes slow-tran-cycle {
  0% {
    translateY: -10px; }
  100% {
    translateY: 10px; } }

@-o-keyframes slow-tran-cycle {
  0% {
    translateY: -10px; }
  100% {
    translateY: 10px; } }

@-ms-keyframes slow-tran-cycle {
  0% {
    translateY: -10px; }
  100% {
    translateY: 10px; } }

@keyframes slow-tran-cycle {
  0% {
    translateY: -10px; }
  100% {
    translateY: 10px; } }

.floatbox-mission-text {
  text-align: center;
  font-family: "Cinzel", "Amiri", "Raleway", sans-serif; }
  .floatbox-mission-text > * {
    margin: 0 auto;
    padding: 0;
    border: none;
    text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0); }

/*products section -------------------------------------------------------------------------------*/
.product-wheel {
  margin: 30px; }

.prodImgCircle {
  height: 10em;
  width: 12em;
  border-radius: 33%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  margin: 2.5rem auto;
  overflow: hidden;
  -webkit-transition: height 1s ease-out;
  -o-transition: height 1s ease-out;
  transition: height 1s ease-out; }

.prodImgCircle_1 {
  background-image: url("../res/img/dent_chair_red_flat.jpg"); }

.prodImgCircle_2 {
  background-image: url("../res/img/dent_jump_comp.jpg"); }

.prodImgCircle_3 {
  background-image: url("../res/img/dent_toothbrush_cup.jpg"); }

body.hasHover .prodImgCircle_1:hover {
  background-image: url("../res/img/dent_practice_mouth.jpg");
  height: 13em; }

body.hasHover .prodImgCircle_2:hover {
  background-image: url("../res/img/dent_chair_white_low.jpg");
  height: 13em; }

body.hasHover .prodImgCircle_3:hover {
  background-image: url("../res/img/machine_colorfulPrint.jpg");
  height: 13em; }

/*About Us -------------------------------------------------------------------------------------------*/
.au-row {
  margin-bottom: 1.5rem; }

.comp-val-header {
  padding: 3rem;
  text-indent: 3rem; }

.comp-val {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .comp-val > * {
    margin: 0 auto;
    padding: 0;
    border: none; }

/*footer -------------------------------------------------------------------------------------------*/
.footer {
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  background-color: #283149;
  font-size: 18px;
  font-family: "Amiri", sans-serif;
  color: #F3ECC8; }

.footer-row {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  text-align: center;
  padding: 10px; }
  @media only screen and (min-width: 767px) {
    .footer-row {
      font-size: 18px; } }
  @media only screen and (min-width: 1200px) {
    .footer-row {
      font-size: 20px; } }
  @media only screen and (min-width: 1700px) {
    .footer-row {
      font-size: 24px; } }
  @media only screen and (min-width: 2000px) {
    .footer-row {
      font-size: 28px; } }
  .footer-row ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    border: none;
    text-align: center; }
    .footer-row ul > * {
      display: inline; }
  .footer-row p {
    margin: 0; }

.lb-item {
  text-decoration: none;
  padding: 5px 10px; }

.socialM-icon {
  height: 3.5em;
  width: 3.5em;
  padding: 10px;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s; }

body.hasHover .footer-col3-left:hover {
  color: primary; }

body.hasHover .socialM-icon:hover {
  -webkit-filter: grayscale(1);
  filter: grayscale(1); }

@media only screen and (max-width: 767px) {
  .links-business {
    text-align: none;
    left: 66%; } }
