
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}


/*this is the start of the main section of css*/
/*
h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

ul {
	list-style-type: none;
}

li {
	text-decoration: none;
	display: inline;
}

a {
	color: black;
	text-decoration: none;
}

p {
	font-size:30px;
}


header {
	background: url("../res/img/DOF/High-Quality-Spindle.png") no-repeat, center, center fixed;
	background-size: cover;
}
*/
/* Navigation bar settings

.nav_S {
	display: block;
	position: fixed;
	height: 100px;
	width: 100vw;
	margin: 0 auto;
	clear: both;
}

.nav_M {
	display: none;
	height: 100px;
	width: 100vw;
	margin: 0 auto;
	clear: both;
}

.nav_L {
	display: none;
	clear: both;
}

*/
/* Mission statement container styles

.floatBox_Mission {
	width: 90vw;
	padding: 30px auto;
	margin: 0 auto;
	background-color: #606060;
}

.floatBox_Mission h2{
	background-color: #606060;
}
*/
/*global styles*/

/* =======FOR MOST MOBILE DEVICES=======
@media only screen and (min-width:768px) {

  .nav_S {
		display: none;
	}

	.nav_L {
		display: none;
	}

	.nav_M {
		display: block;
		position: absolute;

}
*/
/*=======FOR MOST TABLETS=======
@media screen and (min-width:1024px){


	.nav_S {
		display: none;
	}

	.nav_M {
		display: none;
	}

	.nav_L {
		display: block;
	}

	.nav_L img{
	  height: auto;
		width: auto;
		max-height: 50px;
		float: left;
		margin:5px auto;
	}

	.nav_L ul{

		height:100px;
		display:flex;
		justify-content: flex-end;
	}

	.nav_L ul li {
	  margin:10px;
		padding: 5px;
		align-self: center;
	  border-right: 3px solid black;
		border-left: 3px solid black;
		transition: .75s;
		transition-delay: .5s;
	}

	.nav_L ul li:first-child {
		border-left: none;
	}
	.nav_L ul li:last-child {
		border-right: none;
	}

	.nav_L ul li a {
	  color: black;
		transition: .75s;
	}

	.nav_L ul li:hover {
		border-color: red;
	}

	.nav_L ul li a:hover {
		text-decoration: none;
		font-size: 2em;
		color: red;
	}

}
*/
