/*format reset code*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/*this is the start of the main section of css*/

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", serif;
	background-color: lightblue;
  display: block;
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
}

nav {
  color: red;
  font-weight: bold;
}

.mainNav {
  margin: 0 auto;
	width: 1000px;
  position:sticky;
	background-color: lightgrey;
}

.mainNav ul{
	background-color: yellow;
	margin: 0 auto;
	text-align: center;
}

.mainNav li{
  display:inline-block;
  text-align: justify;
	width: 100% auto;
	padding: 10px;
	background-color: lightpink;
}

.mainNav a {
  color: black;
	margin: 10 auto;
	background-color: red;
	transition: 1s;
}

li {
  display: inline-block;
  margin: 0 auto;
  font-size: 1em;
	font-family: 'Amiri', serif;
	background-color: lightgreen;
}

ul{
  text-align: center;
	margin: 10px auto;
}
.mainNav a:hover {
  font-size: 2em;

}

a {
  text-decoration: none;
  color: red;
}

p{
	font-size:24px;
	text-decoration: underline;

}
