.navbar {
  background-color: rgba(155, 155, 155, .5);
}

.navbar-brand img{
  max-height: 1em;
}


.carousel-item {
  height: 60vw;
}

/*controls background images of the slides*/
.carousel-item-bk_1 {
  background-image: url("../res/img/city_testsample_1.jpg");
}

.carousel-item-bk_2 {
  background-image: url("../res/img/city_testsample_2.jpg");
}

.carousel-item-bk_3 {
  background-image: url("../res/img/city_testsample_3.jpg");
}

.carousel-item-bk_4 {
  background-image: url("../res/img/city_testsample_4.jpg");
}

/*global attributes of the slides*/
.carousel-item-bk_1, .carousel-item-bk_2, .carousel-item-bk_3, .carousel-item-bk_4 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  min-width: 100vw;
  height: 60vw;
}

.carousel-caption {
  top: 50%;
  bottom: auto;
  background-color: rgba(100, 100, 100, .8);
  max-width: 50vw;
  margin: 0 auto;
}

.carousel-caption h1 {
  font-size: 2rem;
}

.carousel-caption p {
  font-size: 1rem;
}
@media only screen and (max-width:767px) {
  .carousel-caption  p{
    display: none;
  }
}

.carousel-indicators li {

}


/*Formatting for SVGTest section*/

.svgkkkkk {
  text-align: center;
  width: 30vw;
  padding-top: 0 auto;
  padding-bottom: 0 auto;
}

.brand-svg {
  height: auto;
  width: 100%;
  background-color: red;
  padding: 0 auto;
}






/*floatingMission css*/



.floatingMission {
  background-image: url()
}

.text_Statement {
  text-align: center;
  font-family: "Amiri", "Roboto", sans-serif;
}



/*products section*/

.prod1 {
  background-color: lightblue;
}

.prod1img {
  background-color: black;
  color: white;
}

/*
h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

ul {
	list-style-type: none;
}

li {
	text-decoration: none;
	display: inline;
}

a {
	color: black;
	text-decoration: none;
}

p {
	font-size:30px;
}


header {
	background: url("../res/img/DOF/High-Quality-Spindle.png") no-repeat, center, center fixed;
	background-size: cover;
}
*/
/* Navigation bar settings

.nav_S {
	display: block;
	position: fixed;
	height: 100px;
	width: 100vw;
	margin: 0 auto;
	clear: both;
}

.nav_M {
	display: none;
	height: 100px;
	width: 100vw;
	margin: 0 auto;
	clear: both;
}

.nav_L {
	display: none;
	clear: both;
}

*/
/* Mission statement container styles

.floatBox_Mission {
	width: 90vw;
	padding: 30px auto;
	margin: 0 auto;
	background-color: #606060;
}

.floatBox_Mission h2{
	background-color: #606060;
}
*/
/*global styles*/

/* =======FOR MOST TABLETS DEVICES=======
@media only screen and (min-width:768px) {

  .nav_S {
		display: none;
	}

	.nav_L {
		display: none;
	}

	.nav_M {
		display: block;
		position: absolute;

}
*/
/*=======FOR MOST PCS=======
@media screen and (min-width:1024px){


	.nav_S {
		display: none;
	}

	.nav_M {
		display: none;
	}

	.nav_L {
		display: block;
	}

	.nav_L img{
	  height: auto;
		width: auto;
		max-height: 50px;
		float: left;
		margin:5px auto;
	}

	.nav_L ul{

		height:100px;
		display:flex;
		justify-content: flex-end;
	}

	.nav_L ul li {
	  margin:10px;
		padding: 5px;
		align-self: center;
	  border-right: 3px solid black;
		border-left: 3px solid black;
		transition: .75s;
		transition-delay: .5s;
	}

	.nav_L ul li:first-child {
		border-left: none;
	}
	.nav_L ul li:last-child {
		border-right: none;
	}

	.nav_L ul li a {
	  color: black;
		transition: .75s;
	}

	.nav_L ul li:hover {
		border-color: red;
	}

	.nav_L ul li a:hover {
		text-decoration: none;
		font-size: 2em;
		color: red;
	}

}
*/
