/*format reset code*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


/*this is the start of the main section of css*/
body {
	background-color: #f3f3f3;
	text-align: center;
}

header {
	background-color:#333;
	display:block;
	width:100%;
}

nav {
	list-style-type: none;
	position:sticky;
	top: 0;
}

/*Displays splashimage, effectively the cover picture*/
.coverWrapper {
	font-family: "Cinzel", serif;
	font-size: 24px;
	font-weight: 900;
	color: #111;
	padding: 20px, 0;
	background-image: url("res/img/justatest.png");
	background-repeat: repeat;
	background-size: cover;
}

/* Navigation bar settings*/
/* hides transforming nav bar to be re-enables in media handle */
.mainNav_L {
  display: none;
}

/*enables static header for small devices*/
.mainNav_S {
  display: inline-block;
	width: 100vw;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
}

.mainNav_S ul{
	background-color: red;
	margin: 0 auto;
	text-align: center;
}

.mainNav_S ul li{
	display:inline-block;
	width: 100% auto;
	padding: 10px;
}

.mainNav_S ul li a {
	 color: black;
	padding: 10 auto;
}


/* Mission statement container styles*/

.floatBox_Mission {
	display: inline-block;
  width: 90vw;
	padding: 50px auto;
	margin: 50px auto;
	background-color: #fff;
  text-align: center;
}

.floatBox_Mission h2{

}

.sectHeader {
	font-size: 50px;
}
/*global styles*/

li {
  display: inline-block;
  font-size: 1em;
	font-family: 'Amiri', serif;
}

ul {
}


.pContainer{

}

.hcontainer {

}

a {
  text-decoration: none;
  color: red;
}

p{
	font-size:24px;
	text-decoration: underline;

}
h2 {
	font-size: 50px;
}


/*=======FOR MOST TABLETS=======*/
@media only screen and (min-width:768px) and (max-width:1079px){

  .floatBox_Mission {
    width: 90vw;
  }

  .floatBox_Mission h2 {
  }
}


/* =======Desktop Version=======*/

@media only screen and (min-width:1080px) {

  /*hides static nav for mobile*/

  .mainNav_S {
    display: none;
  }

  /*enables transforming nav for desktop version*/
  .mainNav_L {
    display: inline-block;
		width: 100vw;
    top: 0;
    background-color: lightgrey;
  }

  .mainNav_L img{
    height: auto;
  	width: auto;
	  max-height: 50px;
	  display: flex;
    justify-content: start;
	  margin:5px auto;
  }

  .mainNav_L ul{

	  height:100px;
	  display:flex;
	  justify-content: flex-end;
  }

  .mainNav_L ul li {
    margin:10px;
	  padding: 5px;
  	align-self: center;
    border-right: 3px solid black;
  	border-left: 3px solid black;
  	transition: .75s;
  	transition-delay: .5s;
  }

  .mainNav_L ul li:first-child {
	  border-left: none;
  }

  .mainNav_L ul li:last-child {
  	border-right: none;
  }

  .mainNav_L ul li a {
    color: black;
  	transition: .75s;
  }

  .mainNav_L ul li:hover {
	  border-color: red;
  }

  .mainNav_L ul li a:hover {
    font-size: 2em;
  	color: red;
  }

  .floatBox_Mission {
    width: 80vw;
  }
}
